.custom-modal {
  .MuiPaper-root {
    max-width: 1000px;
    min-height: 300px;
    min-width: 500px;
  }

  .confirmation-message {
    margin-bottom: 40px;
    max-width: 450px;

    span {
      font-weight: bold;
    }

    &.error {
      color: #d34d4d;
    }

    &.success {
      color: #4dd374;
    }
  }

  .MuiDialogContent-root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
